<footer class="page footer font-small pt-4" style="background-color: #B84A62;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos</h4>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="https://www.linkedin.com/in/evelyn-arruda-silva-846306196/" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>

                    </a>
                </li>

                <li>
                    <a href="https://github.com/evelynarruda" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    </div>
        <div class="footer-copyright bg-dark text-center py-3">
            <span class="text-light">2021 Copyright &copy;</span>
            <a class="text-light">Evelyn Arruda Silva</a>
        </div>
    

</footer>