<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B84A62">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://avatars.githubusercontent.com/u/89674125?v=4" alt="" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16">Nome do usuárie</p>
        </li>
        <li class="nav-item pl-3 fs-16">
            <a href="">
                <p class="text-black fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
            </a>
            
          </li>
       </ul>

        <ul class="navbar-nav m-auto d-flex align-items-center">
            <li class="nav-item">
                <a href="" class="font-weight-bold text-white fs-16 p-2">
                Sair<i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
              </li>
      </ul>
      </div>
</nav>